/* @import "font-awesome.min.css";
@import "font-awesome-ie7.min.css";
 */


/* Space out content a bit */

body {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #074a74;
}

p {
    position:fixed;
    top: 50%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    z-index:9;
}



/* Everything but the jumbotron gets side spacing for mobile first views */


/* .header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}
 */


/* Custom page header */


/* .header {
    border-bottom: 1px solid #e5e5e5;
}
 */


/* Make the masthead heading the same height as the navigation */


/* .header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}
 */


/* Custom page footer */


/* .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
} */


/* Customize container */

@media (min-width: 768px) {
    .container {
        max-width: 960px;
    }
}

.container-narrow>hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */


/* .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
} */


/* Supporting marketing content */


/* .marketing {
    margin: 40px 0;
}

.marketing p+h4 {
    margin-top: 28px;
} */


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    /* .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    } */
    /* Space out the masthead */
    /*  .header {
        margin-bottom: 30px;
    } */
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* .well {
    min-height: 20px;
    background-color: #fff;
    color: #074a74;
    border: 1px solid #074a74;
    border-radius: 2px;
}

h1.well {
    text-align: center;
}

 */