<!DOCTYPE html>
<html lang="en">

<head>
    <title>Altara Credit Customer Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> -->
    <link rel="stylesheet" type="text/css" href="css.css" />
</head>

<body>
    <div id="root">
        <div class="container-fluid">

            <header style="width:100%;background-color:#EEEEEE;color:#00264d ;height:200px">
                <div>
                    <img src="altara_logo.png" alt="" style="width:213px; height:80px;">
                    <h1 style="color: #00264d ; text-align:center"> Customer Approval Portal</h1>
                </div>

            </header>

            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color: #00264d;">Altara Credit Customer Approval</div>
                <div class="panel-body">
                    <div class="loading" v-if='submitted'>Loading&#8230;</div>
                    <div class="row" style=" margin:10px;padding:10px;">
                        <table class=" table table-bordered list">
                            <tr>
                                <th colspan="2">1st Month </th>
                                <th colspan="2">2nd Month</th>
                                <th colspan="2">3rd Month</th>
                                <th colspan="2">4th Month</th>
                                <th colspan="2">5th Month</th>
                                <th colspan="2">6th Month</th>
                            </tr>
                            <tr>
                                <td>30th </td>
                                <td>14th</td>
                                <td>30th </td>
                                <td>14th</td>
                                <td>30th </td>
                                <td>14th</td>
                                <td>30th </td>
                                <td>14th</td>
                                <td>30th </td>
                                <td>14th</td>
                                <td>30th </td>
                                <td>14th</td>
                            </tr>
                            <tr>
                                <!-- <td>
                                    <div class="currency-input">
                                        <input type="number" v-model="m1a" @blur="formatNaira(m1a)" required/>
                                        <span class="currency-symbol">₦</span>
                                    </div>
                                </td> -->
                                <td> <input v-model="m1a" type="number" class="form-control"></td>
                                <td> <input v-model="m1b" type="number" class="form-control"></td>
                                <td> <input v-model="m2a" type="number" class="form-control"></td>
                                <td> <input v-model="m2b" type="number" class="form-control"></td>
                                <td> <input v-model="m3a" type="number" class="form-control"></td>
                                <td> <input v-model="m3b" type="number" class="form-control"></td>
                                <td> <input v-model="m4a" type="number" class="form-control"></td>
                                <td> <input v-model="m4b" type="number" class="form-control"></td>
                                <td> <input v-model="m5a" type="number" class="form-control"></td>
                                <td> <input v-model="m5b" type="number" class="form-control"></td>
                                <td> <input v-model="m6a" type="number" class="form-control"></td>
                                <td> <input v-model="m6b" type="number" class="form-control"></td>
                            </tr>
                            <tr>
                                <td> <label>{{m1b - m1a > 0 ? m1b - m1a : 0 }}</label></td>
                                <td> <label>{{m2a - m1b > 0 ? m2a - m1b : 0 }}</label></td>
                                <td> <label>{{m2b - m2a > 0 ? m2b - m2a : 0 }}</label></td>
                                <td> <label>{{m3a - m2b > 0 ? m3a - m2b : 0 }}</label></td>
                                <td> <label>{{m3b - m3a > 0 ? m3b - m3a : 0 }}</label></td>
                                <td> <label>{{m4a - m3b > 0 ? m4a - m3b : 0 }}</label></td>
                                <td> <label>{{m4b - m4a > 0 ? m4b - m4a : 0 }}</label></td>
                                <td> <label>{{m5a - m4b > 0 ? m5a - m4b : 0 }}</label></td>
                                <td> <label>{{m5b - m5a > 0 ? m5b - m5a : 0 }}</label></td>
                                <td> <label>{{m6a - m5b > 0 ? m6a - m5b : 0 }}</label></td>
                                <td> <label>{{m6b - m6a > 0 ? m6b - m6a : 0 }}</label></td>
                                <td> <label>{{m1b - m6b > 0 ? m1b - m6b : 0 }}</label></td>
                            </tr>

                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <table class=" table table-bordered list">
                                <tr>
                                    <th>Max</th>
                                    <th>Average</th>
                                    <th>Min</th>
                                    <th>Bi-montly</th>
                                    <th>Weekly</th>
                                </tr>
                                <tr>
                                    <td> <label>{{getMax}}</label></td>
                                    <td> <label></label></td>
                                    <td> <label></label></td>
                                    <td> <label></label></td>
                                    <td> <label></label></td>
                                </tr>
                                <tr>



                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

    <script type="text/javascript" src="axios.js">
    </script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.5.2">
    </script>
    <script type="text/javascript" src="app.js">
    </script>

</body>

</html>